body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
}

/**=====Header====*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
}

.header-navigation {
   display: flex;
   align-items: center;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;    
}

.header-logo-subcolor {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;  
}    

.header-menu-item {  
    display: flex;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.header-menu-item:first-child .header-menu-link {
    color: #404BBF;
}

.header-menu-item:first-child .header-menu-link::after {
    display: block;
    content: "";
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    position: absolute;
}

.address {
    display: flex;
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex; 
    gap: 40px;  
    padding: 24px 0px;     
}

.address-item {

}

.address-link {
    color: #434455;
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.address-link:hover, 
.address-link:focus {
    color: #404BBF  
}

/**==============*/

/**=====Hero====*/

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.hero-container {
    max-width: 1440px;
}

.hero-title {
    color: #FFF;
    text-align: center;     
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto; 
    margin-bottom: 48px; 
 
}

.hero-title-btn {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    color: #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px; 
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-btn:hover,
.hero-title-btn:focus {
    background-color: #404BBF;
}

/**==============*/

/**=====Features====*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.feature-list-item {
    width: calc((100% - 24px * 3) / 4);        
}

.features-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
    width: 264px;
    height: 112px;    
}

.feature-list-subtitle {
    color: #2E2F42;    
    font-size: 20px;    
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-list-text {
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**==============*/

/**=====Team====*/

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-img {}

.item-wrapper {
    padding: 32px 0;
}

.team-list-subtitle {
    color: #2E2F42;        
    font-size: 20px;    
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text { 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    gap: 24px;
}

.team-icon-border {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-border:hover,
.team-icon-link:hover,
.team-icon-border:focus,
.team-icon-link:focus {
    background-color: #404BBF;
}

.team-list-icon {
    fill:#F4F4FD;

}

/**==============*/

/**=====Portfolio====*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.11;  
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;    
}

.portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
    cursor: pointer;
    box-shadow: none;
    max-height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-card-wrapper {
    transform: translateY(0%);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img {}

.portfolio-card-wrapper{
    position: absolute;
    top: 0;
    background: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cover-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}

.wrapper {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
    background: var(--WHITE, #FFF);
}

.portfolio-list-subtitle {
    color: #2E2F42;    
    font-size: 20px;    
    font-weight: 500;
    line-height: 1.2;    
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;  
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

/**==============*/

/**=====Footer====*/

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;    
}

.footer-wrapper {
    display: flex;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo-subcolor {
    color: #F4F4FD;
}

.footer-text {
    max-width: 264px;   
    color: #F4F4FD;    
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-soc-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-icon-wrapper {
    display: flex;
    gap: 16px;
}

.footer-icon-border {    
    width: 40px;
    height: 40px;
}    

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link {
    fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;
}

/**==============*/